#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  padding: 8px 16px;
  user-select: none;
}

/* tr:nth-child(odd) td {
  background-color: #eeeeee;
} */

table {
  max-width: 700px;
  margin-bottom: 24px;
}

button {
  background-color: #ffd460;
  border: none;
  padding: 8px 16px;
  font-weight: 600;
}

.text-right {
  text-align: right;
}

td.active {
  background-color: #11f60d;
}